.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer .logo_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #F0EBFF;
}
.footer .logo_footer .logo_footer_img {
  background-image: url(/source/less/img/footer_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 82px;
  height: 36px;
}
.footer .logo_footer .icon1_img {
  background-image: url(/source/less/img/icon\ footer1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.footer .logo_footer .icon2_img {
  background-image: url(/source/less/img/icon\ footer2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.footer .logo_footer .icon3_img {
  background-image: url(/source/less/img/icon\ footer3.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.footer .title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859CF;
}
.footer .nav_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
  margin-top: 20px;
}
.footer .nav_footer {
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #F0EBFF;
}
.footer .media_link {
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #F0EBFF;
}
.footer .contact {
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #F0EBFF;
}
.footer .contact .location {
  margin-top: 15px;
  display: flex;
  width: 100%;
}
.footer .contact .location .img {
  background-image: url(/source/less/img/location.png);
  width: 18px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 7px;
}
.footer .contact .location .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.footer .contact .phone {
  display: flex;
  width: 100%;
  margin-top: 15px;
}
.footer .contact .phone .img {
  background-image: url(/source/less/img/Phone.png);
  width: 13px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 7px;
}
.footer .contact .phone .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.footer .developted_by {
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-style: normal;
}
.footer .developted_by a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
}
